html {
  height: 100%;
  width: 100%;
  margin:0;
  border: none;
}
body {
  height: 100%;
  width: 100%;
  margin:0;
  border: none;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.disclaimer {
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-align: right;
  max-width: 100%;
  font-size: 0.7em;
  line-height: 0.7em;
  font-family: sans-serif;
  background-color: rgba(255, 255, 255, 0.1);
}
