html {
  height: 100%;
  width: 100%;
  margin:0;
  border: none;
}
body {
  height: 100%;
  width: 100%;
  margin:0;
  border: none;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
